# Operatrion on list

#### Create a list

In [2]:
fruits = ["apple", "banana", "cherry"]
print("List:", fruits)

List: ['apple', 'banana', 'cherry']

#### Append an Element

In [3]:
numbers = [5, 10, 15]
numbers.append(20)
print("After Append:", numbers)

After Append: [5, 10, 15, 20]

#### Insert an Element

In [6]:
colors = ["red", "blue", "green"]
colors.insert(1, "yellow")   
print("After Insert:", colors)

After Insert: ['red', 'yellow', 'blue', 'green']

#### Remove an Element

In [7]:
animals = ["cat", "dog", "lion", "tiger"]
animals.remove("lion")   
print("After Remove:", animals)

After Remove: ['cat', 'dog', 'tiger']

####  Reverse the List

In [8]:
letters = ["a", "b", "c", "d", "e"]
letters.reverse()
print("After Reverse:", letters)

After Reverse: ['e', 'd', 'c', 'b', 'a']

# Operation on tuple

#### Create a Tuple

In [12]:
fruits = ("apple", "banana", "cherry")
print("Tuple:", fruits)

Tuple: ('apple', 'banana', 'cherry')

#### Access an Element

In [14]:
numbers = (5, 10, 15, 20)
print("Second Element:", numbers[1])

Second Element: 10

#### Slicing a Tuple

In [16]:
colors = ("red", "blue", "green", "yellow", "black")
print("Sliced Tuple:", colors[1:4])

Sliced Tuple: ('blue', 'green', 'yellow')

#### Count an Element

In [18]:
animals = ("dog", "cat", "dog", "lion", "dog")
print("Count of 'dog':", animals.count("dog"))

Count of 'dog': 3

#### Find Index of an Element

In [20]:
letters = ("a", "b", "c", "d", "e")
print("Index of 'c':", letters.index("c"))

Index of 'c': 2

# Operation on set

####  Create a Set

In [24]:
fruits = {"apple", "banana", "cherry"}
print("Set:", fruits)

Set: {'cherry', 'apple', 'banana'}

#### Add an Element

In [26]:
numbers = {10, 20, 30}
numbers.add(40)
print("After Add:", numbers)

After Add: {40, 10, 20, 30}

#### Remove an Element

In [28]:
colors = {"red", "blue", "green", "yellow"}
colors.remove("blue")
print("After Remove:", colors)

After Remove: {'yellow', 'green', 'red'}

####  Union of Two Sets

In [30]:
set1 = {"cat", "dog"}
set2 = {"lion", "tiger"}
result = set1.union(set2)
print("Union:", result)

Union: {'lion', 'cat', 'dog', 'tiger'}

#### Intersection of Two Sets

In [32]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
result = set1.intersection(set2)
print("Intersection:", result)

Intersection: {3, 4}

# Operation on dictionary

#### Create a Dictionary

In [36]:
student = {"name": "Keerthika", "age": 19, "course": "CSE"}
print("Dictionary:", student)

Dictionary: {'name': 'Keerthika', 'age': 19, 'course': 'CSE'}

#### Add a New Key-Value Pair

In [38]:
marks = {"math": 85, "science": 90}
marks["english"] = 88
print("After Adding Key-Value:", marks)

After Adding Key-Value: {'math': 85, 'science': 90, 'english': 88}

####  Update a Value

In [44]:
employee = {"id": 101, "name": "supriya", "salary": 30000}
employee["salary"] = 35000
print("After Update:", employee)

After Update: {'id': 101, 'name': 'supriya', 'salary': 35000}

#### Remove a Key-Value Pair

In [43]:
car = {"brand": "Tesla", "model": "Model S", "year": 2024}
car.pop("year")
print("After Remove:", car)

After Remove: {'brand': 'Tesla', 'model': 'Model S'}

#### Get Keys and Values

In [46]:
book = {"title": "Python Basics", "author": "Guido", "price": 450}
print("Keys:", book.keys())
print("Values:", book.values())

Keys: dict_keys(['title', 'author', 'price'])
Values: dict_values(['Python Basics', 'Guido', 450])